<div class="row">
  <div class="col-md-4 offset-4">
    <div class="card">
      <div class="card-header">
        <div class="card-title text-center">Inscription</div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="">Téléphone</label>
          <input class='form-control' type="tel" [formControl]="tel" required>
        </div>
        <div class="form-group">
          <label for="">Mot de passe</label>
          <input class='form-control' type="password" [formControl]='password' required>
        </div>
        <div class="form-group">
          <label for="">Confirmer le Mot de passe</label>
          <input class='form-control' type="password" [formControl]='password' required>
        </div>
        <button class='btn btn-primary' (click)='send()' type='submit'>Valider</button>
      </div>

    </div>
  </div>
</div>
